/* navbar css */
.navbar { 
    margin-top: -10px;
    margin-bottom: 0;
    padding-left: 70px;
    }
    .nav {
        background-color: rgb(36, 36, 35);
    }
    .nav-link.active {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;}
    .name{ font-family: 'Dancing Script', cursive; font-size: 40px; color: white; margin-right: 100px;}
    .navbar-light .navbar-brand { color: #e9eff0;}
    .navbar-light .navbar-toggler {
        color: rgb(243, 239, 239);
        border-color: rgb(243, 239, 239);
    }
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: white;
        border: 2px solid black;
        border-radius: .25rem;
        transition: box-shadow .15s ease-in-out;
    }
    .navbar-light .navbar-nav .nav-link {
        color: black;
        background: #ffffff9e;
    
    }
    
/* form */
.form{
    width: 90%;
    height: 50%;
    margin: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px rgba(128, 128, 128, 0.301);
    padding-bottom: 20px;
    padding-top: 50px;
}

.form-control {
    box-shadow: 5px 10px rgba(128, 128, 128, 0.301);
}

/* footer */
.footer{
    text-align: center;
    background: rgb(36, 36, 35); 
    width: 100%; 
    color: white; 
    height: 120px;
}
.social {
    padding-left: 35%; height: 20px;
}
.social-pic{
    padding-right: 10px; height: 20px;
}