/* navbar css */
.nav {margin-top: 0px;
margin-bottom: 0;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #202834;
}

/* jumbo or carousel css */
.face {
	background: rgb(12, 27, 59);
	overflow: auto;
}
.active img { 
    object-fit: cover;
    opacity: 0.4; }
    
    