/* navbar css */
.navbar {margin-top: -10px;
margin-bottom: 0;
padding-left: 70px;
}
.nav-link.active {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;}
.name{ font-family: 'Dancing Script', cursive; font-size: 40px; color: white; margin-right: 100px;}
.navbar-light .navbar-brand { color: #e9eff0;
}
.navbar-light .navbar-toggler {
    color: rgb(239 235 235 / 55%);
    border-color: rgb(243, 239, 239);
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    background: #ffffff9e;

}
/* jumbo or carousel css */
.home-face {
	background: rgb(12, 27, 59);
	overflow: auto;
}
.face-img{
    width: 100%;
    height: 95vh;
}
h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.active img { 
    object-fit: cover;
    opacity: 0.4; }
    
.col-md-4 {
    background-color: rgb(36, 36, 35);
}
.jumbo{
    display: flex;
    flex-direction: row;
}
.form {
    margin: 100px 60px;
    padding: 20px;
    border-radius: 8px;
    background-color: wheat;
}
.footer{
    background: rgb(36, 36, 35); 
    width: 100%; 
    color: white; 
}
