/* navbar css */
.navbar { 
margin-top: -10px;
margin-bottom: 0;
padding-left: 70px;
}
.nav {
    background-color: rgb(36, 36, 35);
}
.nav-link.active {font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;}
.name{ font-family: 'Dancing Script', cursive; font-size: 40px; color: white; margin-right: 100px;}
.navbar-light .navbar-brand { color: #e9eff0;}
.navbar-light .navbar-toggler {
    color: rgb(243, 239, 239);
    border-color: rgb(243, 239, 239);
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 2px solid black;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    background: #ffffff9e;

}
/* jumbo or carousel css */
.home-face {
	background: rgb(12, 27, 59);
	overflow: auto;
}

.cards{ margin-top: 20px;}
.card{ margin-right: 5rem; margin-bottom: 20px;}
.face-img{
    width: 100%;
    height: 90vh;
}
h1{
    font-family: 'Dancing Script', cursive;
}
.active img { 
    object-fit: cover;
    opacity: 0.4; }
    
.col-sm-2 {
    background-color: rgb(36, 36, 35);
}
.btns{
    margin: 50% 10% 10% -20%;
}
.jumbo{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.form {
    margin: 50px 60px 100px 60px;
    padding: 20px;
    border-radius: 8px;
    background-color: wheat;
}
.button{ margin-left: 20px;
margin-right: 10px;}
/* footer */
.footer{
    text-align: center;
    background: rgb(36, 36, 35); 
    width: 100%; 
    color: white; 
    height: 120px;
    border: 2px solid white;
}
.social {
    padding-left: 35%; height: 20px;
}
.social-pic{
    padding-right: 10px; height: 20px;
}